header{
  height: 80px;
  background-color:rgb(51 230 235 / 24%);
}

.top{
  padding-top: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.noti-text{
  display: flex;
  color: white;
}

.txt-info{
  justify-content: center;
  margin: auto;
}

.top img{
  width: 70px;
  height: 70px;
  object-fit: contain;
  object-position: center;
  margin: 30px 60px;
}



.content{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .conten-info{
     width: 350px;
     height: 340px;
     margin: 10px;
     border-radius: 4px;
     box-shadow: 1px 1px 10px #000;
  }
 
  .conten-info img{
    width: 100%;
    height: 150px;
  }

  .conten-info h3{
    margin: 15px;
    font-size: 20px;
  }

  .conten-info p{
    margin: 15px;
    font-size: 20px;
    height: 65px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .contenedor{
    width: 450px;
    height: 50px;
    background: #24303c;
    padding-left: 30px;
    padding-top: 10px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  .botons2{
    width: 50px;
    background: #1f53c5;
    border: none;
    padding: 6px;
    color: white;
    font-size: 16px;
    border-radius: 20px;
  }
  
  .user{
    width: 100%;
    height: 50px;
    margin: 0 0 25px 0;
  }

  .user h2{
    padding-left: 50px;
    text-align: center;
  }

  .user h1{
    text-align: center;
  }

  .buy-btn{
    color: #ffffff;
    background-color: #0071e3;
    text-decoration: none;
    width: 150px;
    height: 40px;
    padding:0px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: none;
  }

   /* ----- -----  Mediaqueries ----- ----- */
   @media screen and (max-width: 700px) {
    .top .user{
      display: none;
    }
  }
