.btn-abrir-popup {
	width: 130px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.btn-abrir-popup.active {
	visibility: visible;
}
.btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}
.overlay {
	width: calc(100%);
	height: calc(100%);
    z-index: 2;
	background: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
    z-index: 2;
	background: #ccc;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: auto;
	height: auto;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}
.overlay .popup .pagos {
	padding: 0;
	margin: 0;
	width: 560px;;
	display: flex;
	justify-content: center;
  }
.overlay  .popup  i{
	margin: 0px 10px;
	font-size: 35px;
  }

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	color: white;
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	color: white;
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
    z-index: 3;
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 2; }
.popup.active h3 { animation: entradaTitulo .7s ease .4s forwards; }
.popup.active h4 { animation: entradaSubtitulo .7s ease .4s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/* -------------Ventas------------ */
.btn-abrir-popup-ventas {
	width: 130px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.btn-abrir-popup1-ventas.active {
	visibility: visible;
}
.btn-abrir-popup-ventas:hover {
	background: rgba(94,125,227, .9);
}
.overlay-ventas {
	width: calc(100%);
	height: calc(100%);
    z-index: 2;
	background: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay-ventas.active {
	visibility: visible;
}

.popup-ventas {
    z-index: 2;
	background: #ccc;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: auto;
	height: auto;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}
.overlay-ventas .popup-ventas .pagos {
	padding: 0;
	margin: 0;
	width: 660px;;
	display: flex;
	justify-content: center;
  }
.overlay-ventas  .popup-ventas  i{
	margin: 0px 10px;
	font-size: 35px;
  }

.popup-ventas .btn-cerrar-popup-ventas {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup-ventas .btn-cerrar-popup-ventas:hover {
	color: #000;
}

.popup-ventas h3 {
	color: white;
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup-ventas h4 {
	color: white;
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup-ventas form .contenedor-inputs {
	opacity: 0;
}

.popup-ventas form .contenedor-inputs input {
    z-index: 3;
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup-ventas form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup-ventas form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup-ventas.active {	transform: scale(1); opacity: 2; }
.popup-ventas.active h3 { animation: entradaTitulo .7s ease .4s forwards; }
.popup-ventas.active h4 { animation: entradaSubtitulo .7s ease .4s forwards; }
.popup-ventas.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/* -------------Direcciones------------ */
.btn-abrir-popup-d {
	width: 130px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.btn-abrir-popup-d.active {
	visibility: visible;
}
.btn-abrir-popup-d:hover {
	background: rgba(94,125,227, .9);
}
.overlay-d {
	width: calc(100%);
	height: calc(100%);
    z-index: 2;
	background: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay-d.active {
	visibility: visible;
}

.popup-d {
    z-index: 2;
	background: #ccc;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: auto;
	height: auto;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}
.overlay-d .popup-d .pagos {
	padding: 0;
	margin: 0;
	width: auto;
	display: flex;
	justify-content: center;
  }
.overlay-d  .popup-d  i{
	margin: 0px 10px;
	font-size: 35px;
  }

.popup-d .btn-cerrar-popup-d {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup-d .btn-cerrar-popup-d:hover {
	color: #000;
}

.popup-d h3 {
	color: white;
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup-d h4 {
	color: white;
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup-d form .contenedor-inputs {
	opacity: 0;
}

.popup-d form .contenedor-inputs input {
    z-index: 3;
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup-d form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup-d form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup-d.active {	transform: scale(1); opacity: 2; }
.popup-d.active h3 { animation: entradaTitulo .7s ease .4s forwards; }
.popup-d.active h4 { animation: entradaSubtitulo .7s ease .4s forwards; }
.popup-d.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

/* -------------Productos------------ */
.btn-abrir-popup-p {
	width: 130px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.btn-abrir-popup-p.active {
	visibility: visible;
}
.btn-abrir-popup-p:hover {
	background: rgba(94,125,227, .9);
}
.overlay-p {
	width: calc(100%);
	height: calc(100%);
    z-index: 2;
	background: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay-p.active {
	visibility: visible;
}

.popup-p {
    z-index: 2;
	background: #ccc;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: auto;
	height: auto;
	margin: 20px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}
.overlay-p .popup-p .pagos {
	padding: 0;
	margin: 0;
	width: auto;
	display: flex;
	justify-content: center;
  }
.overlay-p  .popup-p  i{
	margin: 0px 10px;
	font-size: 35px;
  }

.popup-p .btn-cerrar-popup-p {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup-p .btn-cerrar-popup-p:hover {
	color: #000;
}

.popup-p h3 {
	color: white;
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup-p h4 {
	color: white;
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup-p form .contenedor-inputs {
	opacity: 0;
}

.popup-p form .contenedor-inputs input {
    z-index: 3;
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup-p form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup-p form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup-p.active {	transform: scale(1); opacity: 2; }
.popup-p.active h3 { animation: entradaTitulo .7s ease .4s forwards; }
.popup-p.active h4 { animation: entradaSubtitulo .7s ease .4s forwards; }
.popup-p.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}